.tmp_versions/
Module.symvers
modules.order
*.o
*.so
*.rc
*.ko
*.o.cmd
*.ko.cmd
*.symvers.cmd
*.mod.cmd
*.mod
*.mod.c
*.mod.o

/driver/revision.h
/fwtool/fwtool

fwtool/*.bin
*.sys
*.zip

*.obj
*.exe
*.deb

.vscode/
!.vscode/c_cpp_properties.json
