KERNEL=="px4video*", GROUP="video", MODE="0664"
KERNEL=="pxmlt5video*", GROUP="video", MODE="0664"
KERNEL=="pxmlt8video*", GROUP="video", MODE="0664"
KERNEL=="isdb2056video*", GROUP="video", MODE="0664"
KERNEL=="isdb6014video*", GROUP="video", MODE="0664"
KERNEL=="pxm1urvideo*", GROUP="video", MODE="0664"
KERNEL=="pxs1urvideo*", GROUP="video", MODE="0664"
KERNEL=="isdbt2071video*", GROUP="video", MODE="0664"
KERNEL=="px4card*", GROUP="video", MODE="0666"
KERNEL=="pxmlt5card*", GROUP="video", MODE="0666"
KERNEL=="pxmlt8card*", GROUP="video", MODE="0666"
KERNEL=="isdb2056card*", GROUP="video", MODE="0666"
KERNEL=="isdb6014card*", GROUP="video", MODE="0666"
KERNEL=="pxm1urcard*", GROUP="video", MODE="0666"
KERNEL=="pxs1urcard*", GROUP="video", MODE="0666"
KERNEL=="isdbt2071card*", GROUP="video", MODE="0666"

# Digibest 製チューナーに常に USB 電源を供給し、チューナーが不安定にならないようにする
SUBSYSTEM=="usb", ATTRS{idVendor}=="0511", ACTION=="add", TEST=="power/control", ATTR{power/control}="on"
