<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>ifdCapabilities</key>
    <string>0x00000000</string>
    <key>ifdProtocolSupport</key>
    <string>0x00000001</string>
    <key>ifdVersionNumber</key>
    <string>0x00000001</string>

    <key>CFBundleExecutable</key>
    <string>libpx4ifd.so</string>

    <key>ifdManufacturerString</key>
    <string>px4_drv Contributors</string>

    <key>ifdProductString</key>
    <string>PX4 Smart Card Reader Driver</string>

    <key>ifdVendorID</key>
    <array>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
        <string>0x0511</string>
    </array>

    <key>ifdProductID</key>
    <array>
        <string>0x083f</string>
        <string>0x084a</string>
        <string>0x023f</string>
        <string>0x024a</string>
        <string>0x073f</string>
        <string>0x074a</string>
        <string>0x084e</string>
        <string>0x024e</string>
        <string>0x0253</string>
        <string>0x004b</string>
        <string>0x084b</string>
        <string>0x0254</string>
        <string>0x0854</string>
        <string>0x0855</string>
        <string>0x0052</string>
    </array>
    <key>ifdFriendlyName</key>
    <array>
        <string>PLEX PX-W3U4 Smart Card Reader</string>
        <string>PLEX PX-Q3U4 Smart Card Reader</string>
        <string>PLEX PX-W3PE4 Smart Card Reader</string>
        <string>PLEX PX-Q3PE4 Smart Card Reader</string>
        <string>PLEX PX-W3PE5 Smart Card Reader</string>
        <string>PLEX PX-Q3PE5 Smart Card Reader</string>
        <string>PLEX PX-MLT5U Smart Card Reader</string>
        <string>PLEX PX-MLT5PE Smart Card Reader</string>
        <string>PLEX PX-MLT8PE Smart Card Reader</string>
        <string>e-Better DTV02A-1T1S-U Smart Card Reader</string>
        <string>e-Better DTV02A-1T1S-U(N) Smart Card Reader</string>
        <string>e-Better DTV02A-4TS-P Smart Card Reader</string>
        <string>PLEX PX-M1UR Smart Card Reader</string>
        <string>PLEX PX-S1UR Smart Card Reader</string>
        <string>e-Better DTV03A-1TU Smart Card Reader</string>
    </array>
</dict>
</plist>